*{
    margin:0;
    padding:0;
    box-sizing:border-box;
 }
 body{
     background-color: #a5a5a5;
 }
.header__logo{
    animation-name: efectoLogo;
    animation-duration: 1s;
    text-align: center;
 }
 .redes{
     text-align: center;
     animation-name: efectoRedes;
     animation-duration: 1s;
     padding-top: 5rem;
 }
 .redes__estilo{
     list-style-type: none;
 }
 .redes__estilo--line{
     display: inline-block;
 }
 .logo{
     font-family: 'Roboto', sans-serif;
     font-size: 5rem;
 }
 .sub{
     font-family: 'Dongle', sans-serif;
     font-size: 2rem;
 }
 .sub2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding-bottom:1rem;
}
.sub3{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-top:0.3rem;
    text-align: center;
}
 .secciones{
     text-align: center;
     padding:2rem;
     animation-name: secciones;
     animation-duration: 1s;
 }
 .secciones__separar{
     border-top: solid 0.10rem;
 }
 .video1{
     padding:1rem;
 }
.naveg{
    top:0px;
    animation-name: efecto_nav;
    animation-duration: 1s;
 }
.naveg__bot{
    list-style-type: none;
    overflow:hidden;
    background-color: black;
}
.naveg__bot li a{
    text-align: center;
    text-decoration: none;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
    transition: font-size 0.5s;
}
.naveg__bot li a:hover{
    font-size: 2rem;
}
.serviciosEquipos{
    width:100%;
    list-style-type: none;
    overflow:hidden;
    text-align: center;
}
.serviciosEquipos li{
    width: 100%;
    text-align: center;
    padding:2rem;
}
.serviciosEquipos li img{
    width: 100%;
}

.formulario__tamaño{
    width:40rem;
    border:solid 0.10rem;
    padding:2rem;
}
.formulario__tamaño--font{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-top:0.3rem;
}
.formulario__tamaño textarea{
    width:20rem;
    height:10rem;
}
footer{
    text-align: center;
}
.naveg__bot--border{
    padding-bottom:1rem;
    padding-top:1rem;
    margin:0;
    border-right: solid 0.13rem;
    border-left:solid 0.13rem;
    background-color: #252525;
}
@media screen and (max-width: 768px) {
    .redes{
        padding-top: 0;
    }
}
@media screen and (min-width: 769px) {
    .redes{
        padding-top: 4rem;
    }
}
@keyframes efectoLogo{
    0%{
        transform:translate(-100vw,0);
    }
    100%{
        transform: translate(0,0);
    }
}
@keyframes efectoRedes{
    0%{
        transform: translate(100vw,0);
    }
    100%{
        transform:translate(0,0)
    }
}
@keyframes efecto_nav{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes secciones{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
